/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style-type: square;
	list-style-position: inside;
}

li {
	margin-bottom: 10px;
}

body section, header {
	display: block;
}

header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	padding: 30px 0;
}

header div {
	width: 25%;
	min-width: 183px;
	text-align: right;
}

header div.nav-cont {
	width: 65%;
}

header nav {
	display: flex;
	height: 100%;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	width: fit-content;
	text-decoration: none;
	color: grey;
}

header img {
	vertical-align: middle;
}

section.hero {
	padding: 50px 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

section.hero div{
	width: 49%;
	text-align: center;
	vertical-align: middle;
}

section.hero div h1 {
	font-size: 5em;
}

section.hero div button {
	color: #000;
	background: #fff;
	border: 2px solid black;
	padding: 5px 40px;
	font-size: 1em;
}

section.hero-sec {
	display: block;
	width: 100%;
	margin-bottom: 25px;
}

section.hero-sec img {
	width: 100%;
	height: auto;
}

section.description h1 {
	font-size: 27px;
}

hr {
	margin: 40px 0;
	border: 1px solid #000;
}

section.info, section.divider, section.features {
	margin-bottom: 30px;
}

section.info, section.features {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

section.info div {
	width: 49%;
	padding-right: 2%;
}

section.divider img {
	width: 100%;
	height: auto;
}

section.features div {
	width: 32%;
	padding-right: 2%;
}

section.services {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

section.services div {
	width: 47%;
	background-color: #f2f2f2;
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #000;
}

section.services p {
	margin-bottom: 15px;
}

section.services button {
	background-color: #fff;
	padding: 10px 40px;
	border-radius: 5px;
	border: 1px solid #000;
}

section.icons {
	position: fixed;
	left: 0;
	top: 40%;
	background-color: #dbf0ff;
}

section.icons div {
	display: flex;
	width: 75px;
	padding: 10px 0;
	justify-content: space-around;
	flex-flow: column wrap;
	text-align: center;
}

section.icons i {
	font-size: 2em;
	margin: 0 20px 10px 20px;
	color: #000;
}

section.icons i:hover {
	color: #159af9;;
}

section.facts {
	display: flex;
	justify-content: space-between;
}

section.facts div {
	width: 47%;
}

section.facts div.figure {
	text-align: right;
}

section.facts img {
	width: 100%;
	height: auto;
}

section.facts p {
	margin-bottom: 25px;
}

footer p{
	margin: 10px 0;
}

footer p.copyright {
	text-align: center;
	margin: 50px 20% 100px;
}

@media (max-width: 980px) {
	section.hero {
		display: flex;
		flex-flow: column-reverse;
		justify-content: center;
	}

	section.hero div {
		width: 100%;
	}

	section.hero img {
		width: 250px;
	}

	section.hero div h1 {
		font-size: 2em;
	}

}

@media (max-width: 700px) {
	body {
		width: 100%;
		padding: 5%;
	}

	header {
		padding: 0;
	}

	header div.nav-cont {
		display: none;
	}

	header div {
		display: block;
		width: 75%;
		margin: 0 auto;
		text-align: center;
	}

	header div img {
		width: 80%;
	}

	section.info, section.features {
		display: block;
	}

	section.info div, section.features div {
		width: 100%;
		margin-bottom: 15px;
	}

	section.services {
		display: block;
	}

	section.services div {
		display: block;
		width: auto;
	}
}